<header class="bg-amber-200">
    <div class="logo">
    <a target="_blank" href="https://fundass.com.br/">
      <img src="../../../../assets/images/logo-fundass.png" alt="Logo">
    </a>
    </div>
    <nav>
      <ul>
        <li><a href="#biblioteca">A Biblioteca</a></li>
        <li><a target="_blank" href="http://biblioteca.saosebastiao.sp.gov.br/Biblivre5/single/?action=search_bibliographic">Acervo</a></li>
        <li><a href="#noticias">Notícias</a></li>
        <li><a href="#contato">Contato</a></li>
        <li><a href="#faq">Perguntas Frequentes</a></li>
        <li><a href="http://localhost:4200/garoca-libro">GaroçáLibro</a></li>
      </ul>
    </nav>
</header>