<body>
    <header>
        <div class="logo">
        <a target="_blank" href="https://fundass.com.br/">
          <img src="../../../../assets/images/logo-fundass.png" alt="Logo">
        </a>
        </div>
        <nav>
          <ul>
            <li><a href="#">A Biblioteca</a></li>
            <li><a href="#">Notícias</a></li>
            <li><a href="#">Perguntas Frequentes</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </nav>
        <div class="login">
          <input type="text" placeholder="Login">
          <input type="password" placeholder="Senha">
          <button>Entrar</button>
        </div>
      </header>
      
    <section class="inicio">
        <div class="example-button-row">
          <button class="central-button">Central de Atendimento</button>
        </div>
    </section>
  
    <section class="imagem-biblioteca">
      
    </section>
  
  
</body>