<body>
    <header class="bg-blue-500">
        <div class="logo">
        <a target="_blank" href="https://fundass.com.br/">
          <img src="../../../../assets/images/logo-fundass.png" alt="Logo">
        </a>
        </div>
        <nav>
          <ul>
            <li><a href="#">A Biblioteca</a></li>
            <li><a href="#">Notícias</a></li>
            <li><a href="#">Perguntas Frequentes</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">GaroçáLibro</a></li>
          </ul>
        </nav>
      </header>
      
    <section class="inicio">
        <div class="example-button-row">
          <button class="central-button">Central de Atendimento</button>
        </div>
    </section>
   
    <div class="min-h-screen flex text-center justify-center">
      <div class="flex-1 bg-indigo-50 border-r-2 border-indigo-300 p-4">
      <p class="text-lg text-gray-600 mt-2">Bem-vindos ao site oficial da Biblioteca Municipal de São Sebastião!</p>
      </div>
      <div class="flex-1 bg-indigo-50 p-4">
        <img class="object-cover w-full h-full" src="../../../../assets/images/biblioteca-ss.jpg" alt="Imagem">
      </div>
    </div>
    
    <p class="text-4xl text-gray-600 mt-2">Notícias</p>
    <div class="grid grid-cols-3 gap-4">   


    <mat-card class="example-card">

      <img mat-card-image src="../../../../assets/images/biblioteca.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Biblioteca Municipal de São Sebastião disponibiliza WhatsApp para dúvidas e informações sobre os serviços oferecidos
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>ACESSE</button>
      </mat-card-actions>
    </mat-card>

    
    <mat-card class="example-card">

      <img mat-card-image src="../../../../assets/images/oficina.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Prefeitura de São Sebastião e Pontos MIS realizam oficina gratuita sobre fotografia
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>ACESSE</button>
      </mat-card-actions>
    </mat-card>

    
    <mat-card class="example-card">

      <img mat-card-image src="../../../../assets/images/oficina (1).jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Prefeitura de São Sebastião e Pontos MIS realizam oficina ‘Telenovela: um bate-papo’
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>ACESSE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div>
    <h2>Contato</h2>
  </div>

  <div>
    <h2>FAQ</h2>
  </div>
  

<footer>FOOTER</footer>
</body>